.input{
    border: 1px solid #2c2e33;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #2A3038;
    border-radius: 2px;
    color: #ffffff;
    width:300px
}
.input:focus{
    border: 1px solid rgba(6, 246, 70, 0.765);
}
.tableau{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #191c24;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 1700px;
    right: 25px;

}
.form{
    position: relative;
    


}
.input1{
    border: 1px solid #2c2e33;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #2A3038;
    border-radius: 2px;
    color: #ffffff;
    width:300px;
    position: relative;
    left: 500px;

}
.input1:focus{
    border: 1px solid rgba(6, 246, 70, 0.765);
}
.inputcheck{
	border: 1px solid #0cdf25;
	padding: 9px;
	border-radius: 3px;
    width: 25px;
	position: relative;
}
.submit{
    color: #fff;
    background-color: #0090e7;
    border-color: #0090e7;
    position: relative;
    left: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
}